params {
    data = "${projectDir}/data/LGGGBM/data_complete.csv"
    corrupt_data = "${projectDir}/data/LGGGBM/LGGGBM_missing_halfgchighest10perc_trial1.csv"
    outdir = "${projectDir}/output"
    pipeline_report_dir = "${projectDir}/logs"
    configfile = "${launchDir}/data/configs/LGGGBM_missing_halfgchighest10perc_trial1_params.json"
    run_mwg = false
    run_pg = false
    m = 100
    betas_to_check = [0.4,0.6,0.8,1,1.2,1.4,1.6,1.8,2.0,2.2,2.4,2.6]
    beta = 0.8
    approx_loglik_numsamples_mcmc = 1000
    coverage_levels_to_plot = [90,95,99]
    conda_cache = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs"
}