params {
    data = "${projectDir}/data/LGGGBM/data_complete.csv"
    corrupt_data = "${projectDir}/data/LGGGBM/LGGGBM_missing_halfgchighest10perc_trial1.csv"
    outdir = "${projectDir}/output"
    pipeline_report_dir = "${projectDir}/logs"
    configfile = "${launchDir}/data/configs/test_params.json"
    run_mwg = false
    run_pg = false
}