params {
    data = "${projectDir}/data/LGGGBM/data_complete.csv"
    corrupt_data = "${projectDir}/data/LGGGBM/LGGGBM_missing_halfgchighest10perc_trial1.csv"
    outdir = "${projectDir}/output"
    pipeline_report_dir = "${projectDir}/logs"
    configfile = "${launchDir}/data/configs/test_params.json"
    run_mwg = false
    run_pg = false
    m = 3
    betas_to_check = [0.3,1]
    beta = 0.8
    approx_loglik_numsamples_mcmc = 50
    coverage_levels_to_plot = [90,95,99]
    conda_cache = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs"
}