manifest {
    name = 'roskamsh/BetaVAEImputation'
    author = 'Breeshey Roskams-Hieter'
    homePage = 'https://github.com/roskamsh/BetaVAEMImputation'
    description = 'Multiple Imputation using VAEs pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
}

params {
    data = "${projectDir}/data/data_complete.csv"
    corrupt_data = "${projectDir}/data/LGGGBM_missing_halfgchighest10perc_trial1.csv"
    outdir = "${projectDir}/output"
    pipeline_report_dir = "${projectDir}/logs"

}

report {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${->params.pipeline_report_dir}/trace.txt"
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
}

