manifest {
    name = 'roskamsh/BetaVAEImputation'
    author = 'Breeshey Roskams-Hieter'
    homePage = 'https://github.com/roskamsh/BetaVAEImputation'
    description = 'Multiple Imputation using VAEs pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
}

params {
    data = "${projectDir}/data/data_complete.csv"
    corrupt_data = "${projectDir}/data/LGGGBM_missing_10perc_trial1.csv"
    outdir = "${projectDir}/output"

    pipeline_report_dir = "${->params.report_dir}/pipeline_info"

}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }

    conda {
        includeConfig 'conf/conda.config'
    }

}

