manifest {
    name = 'roskamsh/BetaVAEImputation'
    author = 'Breeshey Roskams-Hieter'
    homePage = 'https://github.com/roskamsh/BetaVAEMImputation'
    description = 'Multiple Imputation using VAEs pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    pipeline_report_dir = "${launchDir}/logs"
    conda_cache = null
}

report {
    enabled = true
    overwrite = true
    file = "${params.pipeline_report_dir}/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.pipeline_report_dir}/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.pipeline_report_dir}/trace.txt"
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    conda {
        includeConfig 'conf/conda.config'
    }
}
