process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    penv = { task.cpus > 1 ? "sharedmem" : null }

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load anaconda/5.3.1
    module load igmm/apps/R/4.1.3
    """

    conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/vae_imp_tf2"

    withName: COMPILE_NA_INDICES {
        conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/lasso"
    }

    withName: LASSO {
        conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/lasso"
    }

    withName: LASSO_TRUE {
        conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/lasso"
    }
}

