process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    penv = { task.cpus > 1 ? "sharedmem" : null }

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load anaconda/5.3.1
    """

    conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/vae_imp_tf2"

    withName: LASSO {
        conda = "/exports/igmm/eddie/ponting-lab/breeshey/bin/conda_envs/lasso"
    }
}

