process {
    clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
    executor = 'sge'
    scratch = true

    beforeScript = """
    . /etc/profile.d/modules.sh
    module load roslin/singularity/3.5.3
    # workaround to make non-sandbox mode work, SGE sets this variable
    # to the root user runtime directory, causing permission issues
    unset XDG_RUNTIME_DIR
    export SINGULARITY_TMPDIR="\$TMPDIR"
    """

    withLabel: parallel {
        cpus = 4
        time = '2d'
        penv = "sharedmem"
    }

    withName: baalGetASB {
        cpus = 8
        ext.baseMemory = 32.GB
        memory = { task.ext.baseMemory * Math.pow(2, task.attempt-1) }
        // Unfortunately memory errors often manifest as a failure
        // to spawn or read from the cluster, so exit status 1 can
        // be due to a memory overrun
        errorStrategy = { task.exitStatus in [1, 137..140].flatten() ? 'retry' : 'terminate' }
    }
}

executor {
    queueSize = 200
}

singularity {
    runOptions = '-p -B /local'
}

includeConfig 'singularity.config'
